@CHARSET "UTF-8";

body {
	background: aqua;	
	font-family: sans-serif;
	font-size: 14px;
	
}

.myPara {
	color: red;
	
}

#shoppingContent{ 
  position:relative;	

  margin: auto;
  padding: 200px 20px 20px 200px;
  border: 1px solid #666;
  background: #ffffff;
}